@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.wallpaper-content {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  transform: translate(-50%, -30%);
  padding: 1em;
}

.wallpaper-content h1 {
  font-size: 1.5rem;
  font-family: 'Fredoka One', cursive;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  background:
    linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(2, 79, 44, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wallpaper-content h1 span {
  font-size: 2em;
  background:
    linear-gradient(
      to right,
      #eea2a2 0%,
      #bbc1bf 19%,
      #57c6e1 42%,
      #b49fda 79%,
      #7ac5d8 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hamburger {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.line {
  width: 25px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  border-radius: 2px;
}

a {
  text-decoration: none;
}

.reserve-button {
  display: flex;
  gap: 2rem;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-27%, -30%);
}

.reserve_now_center {
  bottom: 5%;
  transform: none;
}

.reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #97bf0f;
  border: none;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  width: 150px;
  font-family: 'Georgia', serif;
  src: local('Georgia'), url('../../fonts/georgiai.ttf') format('truetype');
  font-style: italic;
}

.reserve_now {
  width: 250px;
}

.reserve-icon {
  margin-left: 1rem;
}

.homepage-dots {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  color: transparent;
}

.reserve-icon div:nth-child(3) {
  color: white;
}

.yatchCarousel {
  align-items: center;
  justify-content: space-between;
}

.prev-btn {
  background: #96bf1a;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0.5rem 1rem;
  width: 80px;
  color: white;
}

.next-btn {
  background: #96bf1a;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0.5rem 1rem;
  width: 80px;
  color: white;
}

.container {
  max-width: 500px;
}

.display_indicator .react-slideshow-container .default-nav {
  display: none !important;
}

.user_sign_btn {
  display: flex;
  gap: 0.5rem;
}

/* Media query for a device with a width of 500px */
@media only screen and (max-width: 500px) {
  .wallpaper-content h1 {
    font-size: 0.7rem;
    color: #fff;
  }

  .wallpaper-content h1 span {
    font-size: 1em;
  }

  .reserve-button {
    display: flex;
    gap: 2rem;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-27%, -30%);
  }

  .reserve_now_center {
    bottom: 5%;
    transform: none;
  }

  .reserve {
    width: 100px;
    font-style: italic;
    font-size: 1rem;
    padding: 0.1em;
  }

  .homepage-dots {
    right: 1rem;
  }

  svg {
    font-size: 0.8rem !important;
  }

  .css-1r0ftf6-MuiSvgIcon-root {
    font-size: 0.8rem !important;
    width: 2rem !important;
    height: 3rem !important;
  }

  .reserve-icon .css-1c4inqc-MuiSvgIcon-root {
    font-size: 1rem !important;
  }
}
