@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

.house_container {
  max-width: 100% !important;
}

.house {
  display: flex;
  gap: 50px;
  width: 100%;
}

.house img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.house_image {
  display: flex;
  gap: 34px;
  align-self: start;
}

.house_info {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.house_info a {
  align-self: flex-start;
}

.house_name h2 {
  font-size: 2rem;
  font-family: 'Niconne', cursive;
  text-align: start;
  text-decoration: underline;
}

.house_name p {
  font-size: 1rem;
  border: 1px solid;
  border-radius: 10px;
  background-color: #d5fdd5;
  text-align: start;
  padding: 1rem 1.5rem;
  width: 350px;
  font-family: 'Georgia', cursive;
  src: local('Georgia'), url("../../fonts/georgiai.ttf") format('truetype');
}

.reserve-btn {
  align-self: flex-start;
  border: none;
  padding: 10px 20px;
  background: #bfe3bf;
  border-radius: 15px;
}

.house-icon {
  padding-top: 80%;
}

.housse-prev-btn {
  align-self: flex-end;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0.5rem 1rem;
  width: 80px;
  color: white;
  background: #96bf1a;
  height: auto;
}

.add-form h1 {
  font-size: 2rem;
  font-family: 'Niconne', cursive;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0 auto;
  font-family: 'Georgia', cursive;
  src: local('Georgia'), url("../../fonts/georgiai.ttf") format('truetype');
}

@media screen and (max-width: 500px) {
  .house_container {
    overflow-x: hidden;
  }

  .clearfix {
    margin: 0;
  }

  .housse-prev-btn svg {
    font-size: 2rem !important;
  }

  .housse-prev-btn {
    padding: 0;
  }

  .house {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    top: 30%;
    left: 35%;
  }

  .house-icon {
    padding-top: 60%;
  }

  .house_image {
    gap: 0;
    width: 100%;
    padding-right: 15px;
  }

  .house_image a {
    padding-top: 0;
  }

  .house img {
    width: 100%;
    height: 200px;
    margin-left: -20px !important;
  }

  .house_info {
    width: 300px;
    margin: 1rem;
  }

  .house_name h2 {
    font-size: 2rem;
    text-align: center;
  }

  .house_name p {
    width: 100%;
  }

  .image_form img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
