.wallpaper-content h1{
    position:absolute;
    top:35%;
    left:50%;
    transform:translate(-50%,-30%);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background: #959595;
    background: linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}