.wallpaper-content h1{
    position:absolute;
    top:35%;
    left:50%;
    transform:translate(-50%,-30%);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: #fff;
    background: linear-gradient(to right, #fff 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #fff 76%, #383838 87%, #1B1B1B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hamburger{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100;
}

.line{
    width:25px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    border-radius: 2px;
}
.reserve{
    background-color: #228C22;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
}