a {
  text-decoration: none;
}

.navBar_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar_mobile > button {
  background: none;
  border: none;
  color: #fff;
  padding: 14px 16px;
  font-size: 17px;
  cursor: pointer;
}

.navBar_mobile > button > svg {
  color: #fff;
  height: 25px;
  width: 25px;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 20%;
}

.navList > li {
  float: left;
}

.navList > li > a {
  width: 100%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.close_modal {
  font-size: 50px;
  color: #fff;
  background: none;
  border: none;
}

.user {
  margin-top: 20%;
}

.mobile_menu_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #97bf0f;
  opacity: 0.8;
}

.clearfix {
  margin: 70px;
}

.mainNavBar {
  display: none;
}

.user_auth_container {
  display: flex;
  flex-direction: column;
}

.login_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
}

.login_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #97bf0f;
  padding-top: 20px;
}

.main_page_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #97bf0f;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .navBar_mobile {
    display: none;
  }

  .mobile_menu_background {
    display: none;
  }

  .ReactModalPortal {
    display: none;
  }

  .clearfix {
    margin: 0;
  }

  .main_page {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .mainNavBar {
    display: block;
    grid-column: 1;
    position: fixed;
  }

  .wrapper {
    grid-column: 2;
  }

  .sidebar_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .logo {
    margin-top: 10%;
    margin-bottom: 30%;
  }

  .sidebar_nav_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    padding-left: 1rem;
  }

  .sidebar_nav_list > li > a {
    width: 100%;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #000;
    text-decoration: none;
  }

  .sidebar_nav_list > li > a > h4 {
    padding: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .sidebar_nav_list > li > .active > h4 {
    color: #fff !important;
    background-color: #97bf0f;
    text-decoration: none;
  }

  .sidebar_nav_list > li > a > h4:hover {
    background-color: #97bf0f;
  }

  .copyright {
    padding-left: 1rem;
  }

  .login_header {
    padding-top: 20px;
  }

  .main_page_footer {
    display: none;
  }

  .reservation-container {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin-left: 100px;
    width: 500px;
  }
}
